html,
body {
    margin: 0.1em;
    padding: 0;
    font-size: 16px;
}

body {
    font-family: sans-serif;
}

.content {
    width: 634px;
    margin: 0 auto;
}

button {
    width: 4em;
    height: 4em;
    font-size: 1em;
    color: white;
    background-color: #505050;
    border: none;
    border-radius: 4em;
    cursor: pointer;
    -webkit-appearance: none;
}

.text-content p {
    padding: 0.5em;
    line-height: 1.4em;
}

.a11y-bar {
    display: none;
    margin: 0 3.5px 0 3.5px;
}

.active {
    display: block;
    margin: 0 3.5px 0 3.5px;
}

.a11y-bar-content {
    display: flex;
    margin-bottom: 1.5em;
}

.icon {
    font-size: 1.2em;
}

.info {
    margin-bottom: 1.5rem;
    padding: 1em 1em 3em 1em;
    font-weight: lighter;
    line-height: 1.3em;
    text-align: center;
    background-color: #e4e4e4;
}

.disabled {
    opacity: 0.35;
}
